* {
  font-family: 'Roboto';
  /* font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal; */
}

body {
  margin: 0;
  font-family: 'Roboto', 'Pacifico', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(240, 240, 240);
  height: 100%;
}

html {
  height: 100%;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* media-queires pour l'affichage du tableau de film en bas de page */

@media screen and (min-width: 600px) {
  .myCustomCalendar .react-calendar {
    width: 600px;
  }
}

@media screen and (min-width: 800px) {
  .myCustomCalendar .react-calendar {
    width: 800px;
  }
}

@media screen and (min-width: 1000px) {
  .myCustomCalendar .react-calendar {
    width: 1000px;
  }
}

